<nav>
  <ul>
    <li class="logo">
      <a href="/">
        <img
          width="32"
          height="32"
          src="/assets/favicon/android-chrome-512x512.png"
        />
      </a>
    </li>
    <li><a href="/">Welcome</a></li>
    <li class="sep">|</li>
    <li><a href="/videos">Videos</a></li>
    <li class="sep">|</li>
    <li><a href="/stories">Stories</a></li>
    <li class="sep">|</li>
    <li><a href="/write">Write</a></li>
    <li class="sep">|</li>
    <li>
      <a href="/fail-to-load">
        If you cannot see Stories & Write, click here!
      </a>
    </li>
  </ul>
</nav>
