@font-face {
  font-family: Aspergit;
  font-variant-ligatures: common-ligatures;
  src: url("/assets/fonts/aspergit/Aspergit.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  src: url("/assets/fonts/kiddySans/kiddySans.otf");
}

html {
  font-size: 21px;
  font-family: Aspergit;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: coral;
}

.App {
  padding: 1rem;
  box-sizing: border-box;
  width: 61.8%;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
}
