---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {%- feed_meta -%} {%- seo -%}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/favicon/favicon.ico"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>

  <body>
    <div class="App{% if page.flex %} Flex{% endif %}">
      <div class="Nav">{% include nav.html %}</div>
      <div class="Content">{{ content }}</div>
      <div class="Copy">Copyright &copy; singhi 2024. All rights reserved.</div>
    </div>
  </body>
</html>
